html {
    font-family: Arial;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}

h2 { font-size: 50px; }

h3 { font-size: 15px; }

p { 
    font-size: 50px; 
    border: 5px solid #566573;
    border-radius: 2px;
}
.units { font-size: 19px; }

.labels{
    font-size: 25px;
    vertical-align:middle;
    padding-bottom: 15px;
}

t { font-size: 50px; }